body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.o{
    color: orange;
}

section{
    display: flex ;
    margin-bottom: 80px;
}

.post{
    width: 50%;
    padding-left: 10%;
    
}

.pic img{
    width: 75%;
    margin-left: 1in;
}

.button{
    text-decoration: none;
    background-color: rgb(252, 95, 103) ;
    background-image: linear-gradient(rgb(241, 83, 62), rgb(252, 95, 103));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner{
    background-image: url(image/new-t.png);
    background-repeat: no-repeat;
}

.p-2nd{
    background-image: url(image/side.png);
    background-repeat: no-repeat;
    background-position: right;
}

.button2{
    text-decoration: none;
    background-color: rgb(252, 95, 103) ;
    background-image: linear-gradient(rgb(248, 95, 6), rgb(248, 147, 53));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.Dream img{
    width: 75%;
    margin-left: 1in;
    margin-bottom: 5px;
    width: 500px;
}

.post2{
  
    padding-left: 4%;

}



